#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.hero {
  background-color:rgb(240,240,240);
  border-radius:30px;
}
.logo {
  height: 100%;
  width: 100%;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #688978);
}
footer {
color:#333;
}
